* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: rgb(219, 225, 230);
    height: 100vh;
    width: 100vw;
}


h1, h2, h3 {
    font-family: 'Alkatra', cursive;
}

a:link , a:visited{
    color:#064953;;
}
a:hover {
    text-decoration:underline;
}
header {
    margin:30px auto;
    text-align:center;
    width:300px;
    height:70px;
    border-radius:7px;
    background: #f3f9ff;
    padding: 15px;
    box-shadow: 5px 5px 5px rgb(187, 187, 187);

}


article {
    
    padding:20px;
    box-shadow: 5px 5px 5px rgb(175, 175, 175);
    width:350px;
    border-radius:7px;
    background: mintcream;
    margin:20px;
}

article li {
    margin: 10px;
    list-style-type:none;
}

article a {
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-weight:600;
}

article h2 {
    border-bottom: 2px solid rgba(199, 199, 199, 0.644);
    width: auto;
    
}

.content {
    display:flex;
    flex-direction:column;
    align-items:center;
    
    justify-content:space-between;
    
}

section {
    margin: 30px;
    padding:30px;
    background: #c3e7ba;
    border-radius: 5px;
    box-shadow : 2px 2px 7px rgb(211, 203, 203);
    
    
}

section li {
    list-style-type: none ;
    /* list-style-position: inside; */
    margin:20px;
}

section a {
    text-decoration: none;
}


section h3 {
    border-bottom: 2px solid rgb(255, 255, 255);
    border-radius:1px;
    padding:5px;
}


footer {
    
    width: 30% ;
    text-align: center;
    margin : 0 auto;
    margin-bottom:15px;
    padding:5px 10px;
    padding-bottom:0;
    border-radius: 7px;
   

}

footer a {
    text-decoration: none;
}


/* media rules */
@media only screen and (min-width: 481px) {
    header {
        width:50%;
    }    
    

    .cards {
        display:flex;
       flex-wrap:wrap;
       justify-content:center;
    }
    section {
        width:350px;
        
    }

    article {
        width: 70%;
    }

    .top {
        display:flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content:center;
        
        width: 70%
    }

    .syllabus, .notes {
        width: 400px;
    }
     
}


